page-tabs {
    .tab-button, .tab-button-icon{
        color: white !important;
        font-size: 27px !important;
    }
    .tab-button[aria-selected=true]{
        ion-icon{
            color: color($colors,BackDark ,base) !important;
        }
        color: color($colors,BackDark ,base) !important;
        border-bottom: 5px solid white !important;
    }
}
