page-tabs {
    .tab-button 
    {
        color: color($colors,BackDark ,base) !important;
        background-color: white !important;
        .tab-button-icon{
            font-size: 27px !important; 
            color: color($colors,BackDark ,base) !important;  
        }
        .tab-button-text{
            font-size: 12px !important;
        }
    }
    .tab-button[aria-selected=true]{
        ion-icon{
            color: color($colors,primary ,base) !important;
        }
        color: color($colors,primary ,base) !important;
        border-bottom: 5px solid color($colors,primary ,base) !important;
    }
}
