<ion-header no-border color="primary">

  <ion-navbar color="primary">
    <ion-buttons class="Header" end>
      <img src="./assets/imgs/logo3.png">
    </ion-buttons>
    <ion-buttons left>
      <button ion-button class="PropBTN" icon-only color="white" (click)="GoToChoosenPage('WayUsPage')">
        <ion-icon name="ios-alert-outline"></ion-icon>
      </button>
      <button ion-button class="PropBTNPerson" icon-only color="white" (click)="GoToChoosenPage('ProfilePage')">
        <ion-icon name="person"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-right>ذبايح الطائف</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>
  <ion-card *ngFor="let product of Products" (click)="GotDetails(product)">
    <ion-card-header>
      <img [src]="ImageLink + product?.image">
    </ion-card-header>
    <ion-card-content>
      <h1>{{ product.name }}</h1>
    </ion-card-content>
  </ion-card>

  <ion-card class="CardProd" *ngIf="OneProduct" (click)="GotDetails(OneProduct)">
      <ion-card-header>
        <img [src]="ImageLink + OneProduct?.image">
      </ion-card-header>
      <ion-card-content>
        <h1>{{ OneProduct?.name }}</h1>
      </ion-card-content>
    </ion-card>
</ion-content>
