<ion-menu [content]="content" side="right" *ngIf="platform.dir() === 'rtl'">
  <ion-content class="content">
    <div class="profilePic">
      <img src="./assets/imgs/logo.png" class="logo">
    </div>
    <hr>
    <ion-list>

    </ion-list>
  </ion-content>
  <ion-footer>
    <div class="CopyRight">
      <p>Copyright @ Do Pave</p>
    </div>
  </ion-footer>
</ion-menu>

<ion-menu [content]="content" side="left" *ngIf="platform.dir() === 'ltr'">
  <ion-content class="content">
    <div class="profilePic">
      <img src="./assets/imgs/logo.png" class="logo">
    </div>
    <hr>
    <ion-list>
    </ion-list>

  </ion-content>
  <ion-footer>
    <div class="CopyRight">
      <p>Copyright @ Do Pave</p>
    </div>
  </ion-footer>
</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
