<ion-header no-border color="primary">

    <ion-navbar color="primary">
      <!-- <ion-buttons class="Header" end>
        <img src="./assets/imgs/logo3.png">
      </ion-buttons> -->
      <ion-buttons left>
        <button ion-button class="PropBTN" icon-only color="white" (click)="GoToChoosenPage('WayUsPage')">
          <ion-icon name="ios-alert-outline"></ion-icon>
        </button>
        <button ion-button class="PropBTNPerson" icon-only color="white" (click)="GoToChoosenPage('ProfilePage')">
            <ion-icon name="person"></ion-icon>
          </button>
      </ion-buttons>
      <ion-title text-center>ذبايح الطائف</ion-title>
    </ion-navbar>
  
  </ion-header>

<ion-content no-padding>
  <button ion-button clear block full class="MapButton" (click)="OpenMap()">
    <ion-icon name="pin" class="MapSpan"></ion-icon>
    (تحديد موقعك (اختياري
  </button>

  <h1>تاريخ التوصيل</h1>

  <button ion-button clear block full class="MapButton" (click)="OpenDate()">
    <ion-icon name="calendar" class="MapSpan"></ion-icon>
    حدد تاريخ الوصول
  </button>

  <h1>فترة التوصيل</h1>

  <div class="RadioBTN" id="Selected1" (click)="AddClass1('من ٩ صباحا الى ١٢ ظهرا')">من ٩ صباحا الى ١٢ ظهرا</div>

  <div class="RadioBTN" id="Selected2" (click)="AddClass2('من ١ ظهرا الى ٤ عصرا')">من ١ ظهرا الى ٤ عصرا</div>

  <div class="RadioBTN" id="Selected3" (click)="AddClass3('من ٤ عصرا الى ١٠ مساءا')">من ٤ عصرا الى ١٠ مساءا</div>

  <div class="DetailsPrice">
    <p>
      <span>السعر = </span>
      <span *ngFor="let Data of DataInfo; let i = index">
          {{ Data?.price }}
          <span *ngIf="Length - 1 != i"> + </span>
      </span>
      <span *ngIf="Length != 1"> = </span>
      <span *ngIf="Length != 1"> {{ TotalPriceNormal }} ريال سعودي</span>
    </p>

    <p *ngIf="TotalPriceMafrom != 0">
      <span>سعر المفروم = </span>
      <span *ngFor="let Data of DataInfo; let i = index">
          {{ Data?.pricemafrom }}
          <span *ngIf="Length - 1 != i"> + </span>
      </span>
      <span *ngIf="Length != 1"> = </span>
      <span *ngIf="Length != 1"> {{ TotalPriceMafrom }} ريال سعودي </span>
    </p>

    <p>
      <span>اجمالي السعر = </span>
      <span *ngIf="TotalPriceMafrom != 0">
          {{ TotalPriceNormal }} + {{ TotalPriceMafrom }}
      </span>
      <span *ngIf="TotalPriceMafrom != 0"> = </span>
      <span> {{ TotalPriceWithoutCharge }} ريال سعودي </span>
    </p>

    <p *ngIf="Governate != 'الطائف'">
      <span>مصاريف الشحن = </span>
      <span>
         100 ريال سعودي
      </span>
    </p>

    <p class="NoBorder">
      <span>السعر الكلي = </span>
      <span *ngIf="Governate != 'الطائف'">
          {{ TotalPriceWithoutCharge }} + 100
      </span>
      <span *ngIf="Governate == 'الطائف'">
         {{ TotalPriceWithoutCharge }} ريال سعودي
      </span>
      <span *ngIf="Governate != 'الطائف'">
        <span> = </span>
        <span> {{ TotalPriceWithCharge }} ريال سعودي </span>
      </span>
    </p>
  </div>
  <div class="OrderBTN" (click)="OrderNow()">
    <ion-icon name="logo-usd"></ion-icon>
    <p>اطلب الان</p>
  </div>
  
</ion-content>
