page-country {
    .Header{
        padding: 5px 5px 4px 0px !important;
        img{
            width: 50px !important;
            height: 50px !important;
            box-shadow: 0px 2px 15px -3px #a0a0a0 !important;
        }
    }
    .toolbar-title{
        padding: 0px 4px 0px 0px !important;
        font-size: 19px !important;
        color: white !important;
    }
    .PropBTN{
        margin: 0px 5px 0px 5px !important;
        font-size: 20px !important;
        font-weight: bolder;
    }
    .PropBTNPerson{
        width: 30px;
        height: 30px;
        border-radius: 50% !important;
        border: 1px solid white !important;
        margin: 0px 5px 0px 5px !important;
    }
    ion-content{
        text-align: center !important;
        // background-image: url(../assets/imgs/img.png);
        // background-size: cover;
        // background-position: center;
    }
    h1{
        color: color($colors, BackDark, base) !important;
        font-size: 17px !important;
        font-weight: bold;
        margin: 15px 0px 15px 0px !important;
    }
    .Countries{
        font-size: 18px !important;
        margin: 15px 5% 10px 5% !important;
        color: white;
        box-shadow: 0px 2px 15px -3px #a0a0a0 !important;
        background-position: center;
        background-size: cover;
        background-color: transparent !important;
        width: 90%;
        height: 100px;
        text-align: center;
        border-radius: 15px !important;
        padding: 0px !important;
    }
    .TransparentColor{
        width: 100%;
        height: 100%;
        text-align: center;
        padding-top: 38px !important;
        background-color: rgba(0, 0, 0, 0.5) !important;
        .textclass{
            text-align: center;
        }
    }
}
