page-my-cart-orders {
    .Header{
        padding: 5px 5px 4px 0px !important;
        img{
            width: 50px !important;
            height: 50px !important;
            box-shadow: 0px 2px 15px -3px #a0a0a0 !important;
        }
    }
    .toolbar-title{
        padding: 0px 4px 0px 0px !important;
        font-size: 19px !important;
        color: white !important;
    }
    .PropBTN{
        margin: 0px 5px 0px 5px !important;
        font-size: 20px !important;
        font-weight: bolder;
    }
    .PropBTNPerson{
        width: 30px;
        height: 30px;
        border-radius: 50% !important;
        border: 1px solid white !important;
        margin: 0px 5px 0px 5px !important;
    }
    .back-button{
        display: none !important;
    }
    ion-content{
        text-align: center !important;
        background-image: url(../assets/imgs/img.png);
        background-size: cover;
        background-position: center;
    }
    ion-header{
        box-shadow: 0px 2px 15px -3px #a0a0a0 !important;
    }
    .Items{
        width: 95%;
        margin: 0px 2.5% 20px 2.5% !important;
        height: 80px;
        box-shadow: 0px 2px 15px -3px #a0a0a0 !important;
        background-color: white;
        border-radius: 10px !important;
        .TrashIcon{
            text-align: center;
            ion-icon{
                margin-top: 20px !important;
                font-size: 25px;
                font-weight: bolder;
                color: color($colors, BackDark, base);
            }
        }
        .Data{
            text-align: right;
            h1, p{
                width: 100%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: 15px;
                margin: 3px 0px 3px 0px !important;
                color: color($colors, BackDark, base);
            }
            h1{
                color: color($colors, primary, base) !important;
            }
        }
    }
    .HeaderContent{
        margin: 20px 2.5% 20px 2.5% !important;
        height: 105px !important;
    }
}
