<ion-header no-border color="primary">

  <ion-navbar color="primary">
    <!-- <ion-buttons class="Header" end>
      <img src="./assets/imgs/logo3.png">
    </ion-buttons> -->
    <ion-buttons left>
      <button ion-button class="PropBTN" icon-only color="white" (click)="GoToChoosenPage('WayUsPage')">
        <ion-icon name="ios-alert-outline"></ion-icon>
      </button>
      <button ion-button class="PropBTNPerson" icon-only color="white" (click)="GoToChoosenPage('ProfilePage')">
        <ion-icon name="person"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center>ذبايح الطائف</ion-title>
  </ion-navbar>

</ion-header>

<ion-content no-padding>
  <div class="HeaderOrderDetails">
    <span>طلباتي</span>
  </div>

  <div class="NotValues" *ngIf="!Orders.length">
    <span>لا توجد عناصر في السلة</span>
  </div>

  <div *ngIf="Orders.length">
    <ion-row class="Items" *ngFor="let Order of Orders" >
      <ion-col col-2 class="TrashIcon" *ngIf="Order.stutas == 0 || Order.stutas == 1" (click)="DeleteItem(Order)">
        <ion-icon name="ios-trash-outline"></ion-icon>
      </ion-col>
      <ion-col col-10 class="Data" (click)="GoToDetails(Order)">
        <p>اجمالي السعر: {{ Order?.totalprice }} ريال سعودي</p>
        <h1>عدد المنتجات: {{ Order?.countproduct }}</h1>
      </ion-col>
    </ion-row>
    <ion-infinite-scroll (ionInfinite)="DoInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>
