page-way-us {
    .Header{
        padding: 5px 5px 4px 0px !important;
        img{
            width: 50px !important;
            height: 50px !important;
            box-shadow: 0px 2px 15px -3px #a0a0a0 !important;
        }
    }
    .toolbar-title{
        padding: 0px 4px 0px 0px !important;
        font-size: 19px !important;
        color: white !important;
    }
    .PropBTN{
        margin: 0px 5px 0px 5px !important;
        font-size: 20px !important;
        font-weight: bolder;
    }
    .back-button{
        display: none !important;
    }
    .PropBTNPerson{
        width: 30px;
        height: 30px;
        border-radius: 50% !important;
        border: 1px solid white !important;
        margin: 0px 5px 0px 5px !important;
    }
    ion-content{
        text-align: center !important;
        background-image: url(../assets/imgs/img.png);
        background-size: cover;
        background-position: center;
    }
    .HeaderOrderDetails{
        width: 40% !important;
        border-radius: 10px !important;
        border: 1px solid color($colors, Fourth, base) !important;
        background-color: color($colors, BackDark, base) !important;
        margin: 20px 30% 20px 30% !important;
        padding: 8px 0px 8px 0px !important;
        text-align: center !important;
        box-shadow: 0px 2px 15px -3px #a0a0a0 !important;
        span{
            color: white !important;
            font-size: 17px !important;
            font-weight: bold;
        }
    }
    p{
        font-size: 18px;
        color: color($colors, BackDark, base);
        line-height: 1.5;
        text-align: center;
        margin: 15px 20px 15px 20px !important;
    }
}
